<a href="https://colab.research.google.com/github/marksimmons781-ux/CS50P-learning-github/blob/main/SQLite3Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

# 1. Connect to the database
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

# 2. Execute a command to create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY,
        item_name TEXT,
        price REAL
    )
''')

# 3. Insert data using Python variables
items = [('Laptop', 1200.00), ('Mouse', 25.50), ('Keyboard', 75.00)]
cursor.executemany('INSERT INTO products (item_name, price) VALUES (?, ?)', items)

# 4. Use Pandas to read the SQL table directly into a DataFrame
df = pd.read_sql_query("SELECT * FROM products", connection)

# Save changes and close
connection.commit()
connection.close()

# Show the results
print(df)